#recipe_wrapper
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr); // Changes to two equal columns for smaller screens
    }

    .recipe
    {
        background-size: cover;
        aspect-ratio: 1;
        border-radius: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;

        .recipe-content {
            
            padding: 5px 10px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.6);
            width: fit-content;

            div:nth-of-type(1) {
                display: flex;
                gap: 6px;
            }

            span:nth-of-type(1) {
                font-weight: bold;
            }

            a:nth-of-type(1) {
                color: white;
            }
        }
    }

    .rating-stars-wrapper
    {
        width: 100px;
        position: relative;

        .rating-stars{
            position: absolute;
            width: 100%;
        }
    }

    .recipe-like
    {
        display: flex;
        justify-content: end;
    }
}



