.authenticate-h1 {
  margin: 0px;
  margin-bottom: 20px;
}

#authentication_modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}

#authentication_modal {
  background: white;
  padding: 50px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  width: 100%;
  margin: 50px;
  box-sizing: border-box;
}
#authentication_modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*BTN*/
.authenticate-btn {
  background: #3cb0fd;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 5px;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
}
.authenticate-btn:hover {
  background: #52baff;
  text-decoration: none;
}

/*INPUTS*/
.input_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}
.input_wrapper input {
  border: 0px;
  border: 1px solid transparent;
  padding: 10px 5px;
  border-bottom: 2px solid #B8B8BA;
}
.input_wrapper input:focus {
  outline: none !important;
  border-bottom: 2px solid black;
}

.authentication-href {
  color: #B8B8BA;
}

.oauth_button {
  display: flex;
  background: #F0F0F0;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 5px;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  font-weight: normal;
  color: black;
  text-decoration: none;
}
.oauth_button:hover {
  background: #e7e7e7;
}
.oauth_button img {
  height: 23px;
}