body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background: white;
}

.container {
  margin: 1em auto;
  max-width: 1120px;
  width: 95%;
}