{% extends 'base.html.twig' %}

{% import 'authentication/layouts/oauth_button.html.twig' as oauth_button %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/authentication/authentication_modal.css') }}">
{% endblock %}

{% block body %}
    <div id="authentication_modal_wrapper">
        <div id="authentication_modal">
            <h1 class="authenticate-h1">
                {% if '/register' in app.request.pathinfo %}
                    Register
                {% else %}
                    Sign in
                {% endif %}
            </h1>

            {% block modal_content %}

            {% endblock %}

            {{ oauth_button.oauth_button('images/logo/google-logo.png', 'Google Logo', 'Sign up with Google', 'connect_google_start') }}

            {% if '/register' in app.request.pathinfo %}
                <a class="authentication-href" href="{{ path('app_login') }}">I have an account</a>
            {% else %}
                <a class="authentication-href" href="{{ path('app_register') }}">Create an account</a>
            {% endif %}
        </div>
    </div>
{% endblock %}